@font-face {
  font-family: 'Styrene A';
  src: url('./StyreneA-Regular.woff') format('woff');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Styrene A';
  src: url('./StyreneA-RegularItalic.woff') format('woff');
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Styrene A';
  src: url('./StyreneA-Medium.woff') format('woff');
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Styrene A';
  src: url('./StyreneA-Bold.woff') format('woff');
  font-style:   normal;
  font-weight:  700;
}